  <!DOCTYPE html>
<html ng-app="githubChallenge">
 <head>
  <title>Github Challenge</title>
  <link rel="stylesheet"
    href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script
    src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
 </head>

 <body class="container" style="margin-top: 20px">
  <h1>Find User Information</h1>
  <p>For testing purposes, try inputting 'swatikumar16' for Swati Kumar's GitHub user information!</p><br><br>
    <div ng-controller="MainCtrl">
     <form class="form-horizontal" role="form" ng-submit="addUser()">
         <input type="text" placeholder="Enter Github Username" class="form-control" name="username"
                 ng-model="username" required /><br><br>
         <input type="submit" value="Submit" class="btn btn-primary" />
     </form>
     <br><hr><br> 
      <!-- <div ng-repeat="username in userdata"> -->
        <table style="border:1px solid black; padding:5px;" ng-repeat="username in userdata">
          <tr>
            <th style="border:1px solid black; padding:5px;">Username</th>
            <th style="border:1px solid black; padding:5px;">Avatar</th>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Login Username </td>
            <td style="border:1px solid black; padding:5px;">{{username.login | uppercase}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Avatar </td>
            <td style="border:1px solid black; padding:5px;"><img src="{{username.avatar_url}}" style="max-height:150px"></td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Full Name </td>
            <td style="border:1px solid black; padding:5px;">{{username.name}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Email Address </td>
            <td style="border:1px solid black; padding:5px;">{{username.email}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Location </td>
            <td style="border:1px solid black; padding:5px;">{{username.location}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;"># of Public Repos </td>
            <td style="border:1px solid black; padding:5px;">{{username.public_repos}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Followers </td>
            <td style="border:1px solid black; padding:5px;">{{username.followers}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Following </td>
            <td style="border:1px solid black; padding:5px;">{{username.following}}</td>
          </tr>
          <tr>
            <td style="border:1px solid black; padding:5px;">Website </td>
            <td style="border:1px solid black; padding:5px;"><a href="{{username.blog}}">{{username.blog}}<a></td>
          </tr>
          
          <!-- <p>All User Data: {{userdata}}</p> -->
        </table>
  <!--     </div> -->
    </div>

    <script>
      var myApp = angular.module('githubChallenge', []);
      //   myApp.factory('userdata', [function(){
      //     var o = {
      //       userdata: []
      //     };
      //     return o;
      //   }]);
        
        myApp.controller('MainCtrl', function ($scope, $http) {
          $scope.userdata = [];

          $scope.addUser = function() {
            var theUrl = "https://api.github.com/users/"+$scope.username;
            console.log(theUrl);

            var promise = $http.get(theUrl);
            promise.then(function(response){
              $scope.userdata.push(response.data);
              console.log($scope.userdata);
            }) 
          }
        });

        // var append = function () {
        //   $scope.userdata;
        //   console.log(userdata);
        // }

        // myApp.filter('toUpperCase', function() {
        //   var toUpperCaseFilter = function (items) {
        //     var filtered = [];
        //     var item = items[i];
        //     var letterArray = item.split('');
        //     for( var i = 0; i < item.length; i++) {
              
        //       var cap = item.charAt(0).toUpperCase()+item[i].slice(1);  
              
        //      }
        //      return item.join(''); 
        //     }

        //     return toUpperCaseFilter
        //   }

        
        // );
    </script>
 </body>
</html>
